<div class='view'>
    <div id="riddle-container" class='container'>
        <div id='riddle-cipher'>
            s+@~e|
        </div>
    </div>
    <div id="input-container" class='container'>
        <input type='text' id='input' placeholder='Type something and see the result...' />
    </div>
    <div class='output-container container'>
        <div id='output' class='output'>
            ...
        </div>
    </div>
    <div id="footer" class="container">
        Solved <span id="solved-count">{{solvedCount}}</span> times out of <span id="total-count">{{totalCount}}</span> attempts
    </div>
    <div id="overlay"></div>
</div>
