<div class='view'>
    <div class='input-container container'>
        <input type='text' id='input' placeholder='Type something and see the result...' />
    </div>
    <div class='output-container container'>
        <div id='output' class='output'>
            ...
        </div>
    </div>
    <div class='riddle-container container'>
        <div id='riddle-question'>
            If you think you can solve the ceaser cipher, enter the solution to this into the text box above:
        </div>
        <div id='riddle-cipher'>
            s+@~(|
        </div>
    </div>
    <div id="footer" class="container">
        Count: Solved {{solvedCount}} times out of {{totalCount}} attempts.
    </div>
    <div id="overlay"></div>
</div>
